<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anne Isaksson - Digital Portfolio</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Artist specializing in concept art, illustration, UI and animation. Currently working in Stockholm, Sweden." />
  <meta property="og:title" content="Anne Isaksson - Digital Portfolio">
  <meta property="og:description" content="Digital portfolio of Swedish 2D artist, Anne Isaksson.">
  <meta property="og:url" content="{{ baseUrl }}">
  {% if slides is not empty %}
    <meta property="og:image" content="{{ baseUrl }}/assets/upload/{{ slides[0].getFileName() }}_medium.{{ slides[0].getExtension() }}">
    <meta name="twitter:card" content="summary_large_image">
  {% endif %}
  <link rel="canonical" href="{{ baseUrl }}" />
  <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap" />
  <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/assets/css/main.css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-69583134-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-69583134-2');
    gtag('config', 'AW-989814346');
  </script>
</head>
<body class="{{ title != 'Portfolio' ? 'scroll' : '' }}">
  <header id="header">
    <img src="{{ baseUrl }}/assets/img/logo.svg" title="Logo" alt="Logo" />
    <nav>
      {% block links %}

      {% endblock %}
    </nav>
  </header>
  <div id="content">
    {% block content %}

    {% endblock %}
  </div>
  {% block scripts %}

  {% endblock %}
</body>
</html>
